* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

button {
    padding: 10px;
    border-radius: 10px;

}

/* color and font-size  */
header, footer {
    background-color: #1F2937;
}

div > h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

ul > li {
    font-size:18px;
    color: #E5E7EB;
}

div > button {
    background-color: #3882F6; 
    color: white;
}

div > p {
    color: white;
}

.one div p {
    color: black;
}

.one h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.two {
    background-color: #E5E7EB;
}
.two p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
/* end of color and font-size  */









/* start of layout  */
nav, nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul {
    justify-content: space-between;
}
nav p {
    font-size: 36px;
    font-weight: 900;
    color:white
}

header{
    height: 400px;
}

.placeholder-flex {
    width: 80%;
    margin-top: 100px;
    margin-left: 180px;
    display: flex;
    justify-content: space-around;
}

.placeholder {
    border: 1px solid black;
    height: 150px;
    width: 200px;
}


section h2 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
.one {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

.two {
    height: 300px;
    padding-left: 250px;
}
.two p {
    width: 80%;   
}
.two span {
    font-size: 36px;
    font-weight: 900;
    display: block;
    margin-left: 800px;
}

.three {
    height: 150px;
    background-color: #3882f6;
    border-radius: 10px;
    width: 60%;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    display: flex;
    justify-content: space-around ;

}
.three button {
    height: 40px;
}
/* end of main content  */



/* footer  */
footer {
    height: 50px;
    padding-top: 10px;

}

footer p {
    color: white;
    text-align: center;
    
}